name: Test Flight 

on:
  release:
    types: [prereleased, released]

jobs:
    deploy:
      name: Build Release
      runs-on: macos-latest

      steps:     
        - name: "Check Beta"
          if: github.event.release.prerelease == true
          run: echo "LANE=beta" >> $GITHUB_ENV
            
        - name: "Check Production"
          if: github.event.release.prerelease != true
          run: echo "LANE=production" >> $GITHUB_ENV
            
        - name: Checkout
          uses: actions/checkout@v1
          with: 
            ref: ${{ steps.latest.outputs.tag_name }}
      
        - name: Setup Java
          uses: actions/setup-java@v1
          with:
            java-version: '12.x'

        - name: Setup Flutter
          uses: subosito/flutter-action@v1.4.0
          with:
            channel: stable

        - name: Flutter version
          run: flutter --version

        - name: Cache pub dependencies
          uses: actions/cache@v2
          with:
            path: ${{ env.FLUTTER_HOME }}/.pub-cache
            key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
            restore-keys: ${{ runner.os }}-pub-

        - name: Download pub dependencies
          run: flutter pub get

        - name: Run build_runner
          run: flutter pub run build_runner build --delete-conflicting-outputs

        - name: Run analyzer
          run: flutter analyze
          
        - name: Build iOS App 
          run: flutter build ios --release --no-pub --no-codesign 
          
        - name: Publish iOS 
          uses: maierj/fastlane-action@v2.0.1
          with:
            lane: '$LANE'
            subdirectory: 'ios'
            bundle-install-path: 'vendor/bundle'
          env:
            DELIVER_USERNAME: ${{ secrets.DELIVER_USERNAME }}
            DELIVER_APP_IDENTIFIER: ${{ secrets.DELIVER_APP_IDENTIFIER }}
            DELIVER_TEAM_ID: ${{ secrets.DELIVER_TEAM_ID }}
            DELIVER_DEV_PORTAL_TEAM_ID: ${{ secrets.DELIVER_DEV_PORTAL_TEAM_ID }}
            DELIVER_APP_ID: ${{ secrets.DELIVER_APP_ID }}
            FASTLANE_TEAM_ID: ${{ secrets.DELIVER_DEV_PORTAL_TEAM_ID }}
            FASTLANE_ITC_TEAM_ID: ${{ secrets.DELIVER_TEAM_ID }}
            FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
            MATCH_APP_IDENTIFIER: ${{ secrets.DELIVER_APP_IDENTIFIER }}
            MATCH_USERNAME: ${{ secrets.DELIVER_USERNAME }}
            MATCH_PASSWORD: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
            MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
            MATCH_KEYCHAIN_PASSWORD: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
            MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
            APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
            APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
            APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
            PILOT_CHANGELOG: ${{ github.event.release.body }}
          
               
